<div class="title_blue">
    Search for Orders V3</div>
<form name="submitForm" ng-submit="search()" novalidate>
    <div class="row">
        <div class="input-field col l6 m6 s12">
            <input ng-model="searchCriteria" name="searchFied" id="searchField" type="text" ng-class="submitForm.$submitted && submitForm.searchFied.$invalid	 ? 'invalid ng-not-empty' : ''"
                ng-required="true">
            <label ng-class="submitForm.$submitted	 ? 'active' : ''" data-error="Field is required" for="searchField">Order number, email, beneficiary ...</label>
        </div>
        <div class="col l1 m6 s12">

            <button class="btn waves-effect waves-light" type="submit" id="submit" ng-bind-html="loading ? loader : 'Search'" ng-click="submited = true"></button>
        </div>
        <div class=" col l5 m6 s12">
            <div class="filter" ng-if="false">
                <div class="switch">
                    <label>
                            with filter 1
                            <input type="checkbox">
                            <span class="lever"></span>
                            option 2
                        </label>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>

<div class="title_blue" ng-show="searchResult.length > 0">Search Results</div>

<div class="tables_container" ng-show="searchResult.length > 0">
    <table class="orders_table md-table responsive-table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Order Id</th>
                <th>User</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Company</th>
                <th>Product</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody ng-repeat="order in searchResult" ng-init="orderIndex = $index">
            <tr ng-click="selectOrder(order)" ng-class="expandSection === order._id ? 'order_row active' : 'order_row'">
                <td>{{order.paymentsPlan[0].version || v1}}</td>
                <td>{{order.orderId}}</td>
                <td>{{order.paymentsPlan[0].userInfo.userName}}</td>
                <td>{{order.paymentsPlan[0].email}}</td>
                <td>{{order.createAt | date}}</td>
                <td>{{order.paymentsPlan[0].productInfo.organizationName}}</td>
                <td>{{order.paymentsPlan[0].productInfo.productName}}</td>
                <td class="green-font">{{order.status}}</td>
            </tr>

            <tr class="expandable" ng-if="expandSection === order._id">
                <td class="expand" colspan="9">
                    <div ng-class="expandSection === order._id ? 'expandable_section active' : 'expandable_section'">
                        <div class="expanded_section">

                            <table class="charges_table responsive-table">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th style="width: 110px;">Charge Date</th>
                                        <th style="width: 110px;">Charge Price</th>
                                        <th>Card</th>
                                        <th class="centered">Status</th>
                                        <th class="centered">Processed</th>
                                        <th class="centered" ng-show="editCharges === order._id">Save</th>
                                        <th class="centered">Disable</th>
                                        <th ng-show="editCharges === order._id" class="centered">Retry</th>
                                        <th ng-show="editCharges === order._id" class="centered">Refund</th>
                                        <th ng-show="editCharges === order._id" class="centered">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pp in order.paymentsPlan" ng-if="editCharges !== order._id">
                                        <td>
                                            <span>{{pp.description}}</span>
                                        </td>
                                        <td>
                                            <span>{{pp.dateCharge | date}}</span>
                                        </td>
                                        <td>{{pp.price}}</td>
                                        <td>
                                            <span>{{pp.accountBrand}} x-{{pp.last4}}</span>
                                        </td>
                                        <td ng-class="{'green-font': pp.status ==='succeeded', 'red-font': pp.status ==='failed'}" class="centered">{{pp.status.startsWith('disable-') ? pp.status.substring(8) : pp.status}}</td>
                                        <td class="centered">
                                            <input id="rproc-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.wasProcessed" />
                                            <label for="rproc-{{pp._id}}"></label>
                                        </td>
                                        <td class="centered">
                                            <input id="rdis-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.status" ng-checked="pp.status.startsWith('disable-')"
                                                ng-false-value="'pending'">
                                            <label for="rdis-{{pp._id}}"></label>
                                        </td>

                                    </tr>



                                    <tr ng-repeat="pp in order.paymentsPlan" ng-if="editCharges === order._id">
                                        <td>
                                            <md-input-container>
                                                <input type="text" ng-model="pp.description" ng-disabled="pp.status==='succeeded' || pp.status.startsWith('refunded')" />
                                            </md-input-container>

                                        </td>
                                        <td>
                                            <input input-date id="datePicker{{pp._id}}" type="text" name="created" ng-model="pp.dateCharge" container="" format="mm/dd/yyyy"
                                                disable="disable" select-years="15" on-set="closeDatePicker('datePicker'+pp._id)"
                                                ng-disabled="pp.status==='succeeded'  || pp.status.startsWith('refunded')" />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="pp.price" ng-disabled="pp.status==='succeeded'  || pp.status.startsWith('refunded')" />
                                        </td>
                                        <td>
                                            <select material-select watch ng-model="pp.account" ng-disabled="pp.status==='succeeded'  || pp.status.startsWith('refunded')">
                                                <option ng-repeat="account in accountsFilter[pp._id]"  value="{{account.id}}">{{account.bankName || account.brand}} x-{{account.last4}}</option>
                                            </select>
                                        </td>
                                        <td ng-class="{'green-font': pp.status ==='succeeded', 'red-font': pp.status ==='failed'}" class="centered">{{pp.status.startsWith('disable-') ? pp.status.substring(8) : pp.status}}</td>
                                        <td class="centered">
                                            <input id="proc-{{pp._id}}" ng-disabled="true" type="checkbox" ng-model="pp.wasProcessed" />
                                            <label for="proc-{{pp._id}}"></label>
                                        </td>
                                        <td class="centered">
                                            <a class="btn-floating btn-large waves-effect waves-light" href="#" ng-if="pp.status==='pending' || pp.status==='failed'"
                                                ng-click="editPaymentPlan(order._id, pp)">
                                                <i class="small mdi mdi-content-save"></i>
                                            </a>
                                        </td>
                                        <td class="centered">
                                            <a class="btn-floating btn-large waves-effect waves-light  grey darken-1" href="#" ng-if="pp.status==='pending' || pp.status==='failed'"
                                                ng-click="confirmDisable(order._id, pp)">
                                                <i class="small mdi mdi-checkbox-blank-outline"></i>
                                            </a>
                                            <a class="btn-floating btn-large waves-effect waves-light  grey darken-1" href="#" ng-if="pp.status.startsWith('disable-')"
                                                ng-click="enable(order._id, pp)">
                                                <i class="small mdi mdi-checkbox-marked-outline"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn-floating btn-large waves-effect waves-light light-blue darken-1" ng-if="pp.status==='failed'" ng-click="retry(order._id,pp)">
                                                <i class="small mdi mdi-reload"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn-floating btn-large waves-effect waves-light orange darken-1" ng-if="pp.status === 'refunded-partially' || pp.status === 'succeeded'" ng-click="retrieveTransfer(order._id,pp)">
                                                <i class="small mdi mdi-undo-variant"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <a class="btn-floating btn-large waves-effect waves-light red darken-1" ng-if="pp.status === 'pending' " ng-click="confirmRemove(orderIndex, order.orderId, pp._id)">
                                                <i class="small mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!-- new payment plan -->

                                    <tr ng-if="editCharges === order._id">
                                        <td>
                                            <md-input-container>
                                                <input type="text" ng-model="newPaymentPlan.description" />
                                            </md-input-container>
                                        </td>
                                        <td>
                                            <input input-date id="datePicker{{pp._id}}" type="text" name="created" ng-model="newPaymentPlan.dateCharge" container=""
                                                format="mm/dd/yyyy" disable="disable" select-years="15" on-set="closeDatePicker('datePicker'+pp._id)"
                                            />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="newPaymentPlan.price" />
                                        </td>
                                        <td>
                                            <select material-select watch ng-model="newPaymentPlan.account">
                                                <option ng-repeat="account in accountsFilter[order.paymentsPlan[0]._id]"  value="{{account.id}}">{{account.bankName || account.brand}} x-{{account.last4}}</option>
                                            </select>
                                        </td>
                                        <td class="centered">
                                            <a class="btn-floating btn-large waves-effect waves-light" href="#" ng-click="addPaymentplan(order, order.paymentsPlan[0])">
                                                <i class="small mdi mdi-plus"></i>
                                            </a>
                                        </td>
                                        <td class="centered" colspan="6">

                                        </td>
                                    </tr>

                                    <!-- end new payment plan -->


                                </tbody>
                            </table>
                            <hr/>
                            <table class="charges_table responsive-table" ng-if="editCharges !== order._id">
                                <thead>
                                    <th ng-repeat="ci in customInfo">{{ci.fieldTitle}}</th>
                                </thead>
                                <tbody>
                                    <td ng-repeat="ci in customInfo">{{ci.fieldValue}}</td>
                                </tbody>
                            </table>

                            <div ng-if="order.paymentsPlan[0].version === 'v2'">

                                <div class="progress" ng-show="loadingOrder === order._id">
                                    <div class="indeterminate"></div>
                                </div>


                                <div class="btns_container" ng-if="loadingOrder !== order._id && editCharges !== order._id">
                                    <button class="btn waves-effect waves-light" ng-show="order.status !== 'complete'" ng-click="changeToEdit(order._id, $index)">Edit</button>
                                    <button class="btn btn-red waves-effect waves-light" ng-show="order.status === 'complete'" ng-click="confirmActivate($index, order.orderId)">Activate</button>
                                    <a class='btn btn-blue waves-effect waves-light' href='#modal{{order._id}}' modal complete='completeHistory' ng-click="loadHistory(order._id)">View Log</a>
                                </div>

                                <div class="btns_container" ng-if="loadingOrder !== order._id && editCharges === order._id">
                                    <button class="btn btn-gray waves-effect waves-light" ng-click="changeToEdit('', $index)">Close</button>
                                    <button class="btn waves-effect waves-light" ng-if="order.status === 'active'" type="button" id="CancelOrder" ng-bind-html="loading ? loader : 'Cancel Order'"
                                        ng-click="confirmCancel($index, order.orderId)"></button>
                                    <a class='btn btn-blue waves-effect waves-light' href='#modal{{order._id}}' modal ng-click="loadHistory(order._id)">View Log</a>
                                </div>

                                <!-- Modal Structure -->
                                <div id="modal{{order._id}}" class="modal">
                                    <div class="modal-content">
                                        <h5>History Order {{order.orderId}}</h5>
                                        <div class="progress" ng-show="ordersHistory.length === 0">
                                            <div class="indeterminate"></div>
                                        </div>
                                        <ul class="collapsible popout" data-collapsible="accordion">
                                            <li ng-repeat="oldOrder in ordersHistory">
                                                <div class="collapsible-header"><i class="small mdi mdi-view-list" style="color:#00897b "></i>{{oldOrder.createAt
                                                    | date:'medium'}}</div>
                                                <div class="collapsible-body">


                                                    <table class="charges_table" responsive-table>
                                                        <thead>
                                                            <tr>
                                                                <th>Description</th>
                                                                <th>Charge Date</th>
                                                                <th>Charge Price</th>
                                                                <th>Card</th>
                                                                <th class="centered">Status</th>
                                                                <th class="centered">Processed</th>
                                                                <th class="centered">Disabled</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="pp in oldOrder.order.paymentsPlan">
                                                                <td>
                                                                    <span>{{pp.description}}</span>
                                                                </td>
                                                                <td>
                                                                    <span>{{pp.dateCharge | date}}</span>
                                                                </td>
                                                                <td>{{pp.price}}</td>
                                                                <td>
                                                                    <span>{{pp.accountBrand}} x-{{pp.last4}}</span>
                                                                </td>
                                                                <td class="centered green-font">{{pp.status}}</td>
                                                                <td class="centered">
                                                                    <input id="rproc-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.wasProcessed" />
                                                                    <label for="rproc-{{pp._id}}"></label>
                                                                </td>
                                                                <td class="centered">
                                                                    <input id="rdis-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.status" ng-true-value="'disable'"
                                                                        ng-false-value="'pending'">
                                                                    <label for="rdis-{{pp._id}}"></label>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>

                            </div>



                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<!-- Modal refund -->
<div id="modalRefund" class="modal">
    <div class="modal-content">
        <h4>Refund</h4>
        <div class="row">
            <div class="inline input-field col s12">
                <input type="number" id="amount" ng-model="refundObj.amount" class="validate" ></input>
                <label for="amount">Amount (max: ${{refundObj.pp.price}} )</label>
            </div>
        </div>

        <div class="row">
            <div class="inline input-field col s12">
                <textarea id="reason" class="materialize-textarea" ng-model="refundObj.reason" class="validate"></textarea>
                <label for="reason">Reason</label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="btns_container" ng-hide="processRefud">
            <button href="#" class="waves-effect waves-green btn-flat" ng-click="refund()">Agree</button>
            <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
        </div>
    </div>
</div>

<div id="confirmDisableModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Confirm</h4>
        <p>Are you sure? </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="disabled(true)">Agree</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="disabled(false)">Cancel</a>
    </div>
</div>

<div id="confirmCancelModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Confirm</h4>
        <p>Are you sure? </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderCancel(true)">Agree</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderCancel(false)">Cancel</a>
    </div>
</div>

<div id="confirmActivateModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Confirm</h4>
        <p>Are you sure? </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderActivate(true)">Agree</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderActivate(false)">Cancel</a>
    </div>
</div>

<div id="confirmRemoveModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Confirm</h4>
        <p>Are you sure? </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderRemovePayment(true)">Agree</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="orderRemovePayment(false)">Cancel</a>
    </div>
</div>