<div class="title_blue">Search for Orders V3</div>
<form ng-submit="search()">
  <div class="inputs">
    <div class="input">
      <input type="text" ng-model="searchCriteria" placeholder="Order number, email, beneficiary ..." />
    </div>
    <div class="btns">
      <button class="btn-green" type="submit" id="submit" ng-bind-html="loading ? loader : 'Search'">
    </div>
    <div class="right">
      <div class="switch">
        <label>
          with filter 1
          <input type="checkbox" >
          <span class="lever"></span>
          option 2
        </label>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>

<div class="title_blue" ng-show="searchResult.length > 0">Search Results</div>

<div class="tables_container" ng-show="searchResult.length > 0">
  <table class="orders_table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>User</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Company</th>
        <th>Product</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody ng-repeat="order in searchResult">
    <tr ng-click="expandSection1 = !expandSection1" ng-class="expandSection1 ? 'order_row active' : 'order_row active'">
      <td>{{order.orderId}}</td>
      <td>{{order.paymentsPlan[0].userInfo.userName}}</td>
      <td>{{order.paymentsPlan[0].email}}</td>
      <td>{{order.createAt | date}}</td>
      <td>{{order.paymentsPlan[0].productInfo.organizationName}}</td>
      <td>{{order.paymentsPlan[0].productInfo.productName}}</td>
      <td class="green-font">{{order.status}}</td>
    </tr>

    <tr class="expandable">
      <td class="expand" colspan="7">
        <div ng-class="expandSection1 ? 'expandable_section active' : 'expandable_section'">
          <div class="expanded_section">

            <table class="charges_table">
              <thead>
              <tr>
                <th>Description</th>
                <th>Charge Date</th>
                <th>Price</th>
                <th ng-show="editCharges1">Orig. Price</th>
                <th>Card</th>
                <th class="centered">Status</th>
                <th class="centered">Processed</th>
                <th class="centered">Disabled</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="pp in order.paymentsPlan">
                <td>
                  <span ng-hide="editCharges1">{{pp.description}}</span>
                  <div ng-show="editCharges1">
                    <input type="text" value="March Payment" />
                  </div>
                </td>
                <td>
                  <span ng-hide="editCharges1">{{pp.dateCharge}}</span>
                  <div ng-show="editCharges1">
                    <input type="text" value="May 10, 2016" />
                  </div>
                </td>
                <td>{{pp.price}}</td>
                <td ng-show="editCharges1">
                  <input type="text" value="600" />
                </td>
                <td>
                  <span ng-hide="editCharges1">{{pp.accountBrand}} x-{{pp.last4}}</span>
                  <div ng-show="editCharges1">
                    <select name="" >
                      <option value="">AMEX x-1111</option>
                      <option value="">Visa x-1111</option>
                      <option value="">MasterCard x-1111</option>
                    </select>
                  </div>
                </td>
                <td class="centered green-font">{{pp.status}}</td>
                <td  class="centered">
                  <input type="checkbox" ng-checked="pp.wasProcessed" />
                  <label></label>
                </td>
                <td class="centered">
                  <input type="checkbox" checked="checked" />
                  <label class="bar"></label>
                </td>
              </tr>





              </tbody>
            </table>

            <div ng-class="expandLog1 ? 'expandable_log active' : 'expandable_log'">
              <div class="tables_separator"></div>
              <div class="expanded_log">
                <table class="log">
                  <thead>
                  <tr>
                    <th>Edited</th>
                    <th>User</th>
                    <th>Old Charge Info</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="log_date">11/10/2015</td>
                    <td class="log_user">rlara</td>
                    <td class="log_data">
                      <span class="black-font">Desc.</span>: February Payment
                      <span class="black-font">Charge Date</span>: 11/11/2014
                      <span class="black-font">Price</span>: $543
                      <span class="black-font">Orig. Price</span>: $500
                      <span class="black-font">Card</span>: Visa x-1234
                      <span class="black-font">Processed</span>: true
                      <span class="black-font">Disable</span>: false
                    </td>
                  </tr>
                  <tr>
                    <td class="log_date">11/10/2015</td>
                    <td class="log_user">rlara</td>
                    <td class="log_data">
                      <span class="black-font">Desc.</span>: May Payment
                      <span class="black-font">Charge Date</span>: 11/11/2014
                      <span class="black-font">Price</span>: $543
                      <span class="black-font">Orig. Price</span>: $500
                      <span class="black-font">Card</span>: Visa x-1234
                      <span class="black-font">Processed</span>: true
                      <span class="black-font">Disable</span>: false
                    </td>
                  </tr>
                  <tr>
                    <td class="log_date">11/10/2015</td>
                    <td class="log_user">rlara</td>
                    <td class="log_data">
                      <span class="black-font">Desc.</span>: Repaid
                      <span class="black-font">Charge Date</span>: 11/9/2014
                      <span class="black-font">Price</span>: $999
                      <span class="black-font">Orig. Price</span>: $555
                      <span class="black-font">Card</span>: AMEX x-1234
                      <span class="black-font">Processed</span>: false
                      <span class="black-font">Disable</span>: false
                    </td>
                  </tr>
                  <tr>
                    <td class="log_date">11/10/2015</td>
                    <td class="log_user">rlara</td>
                    <td class="log_data">
                      <span class="black-font">Desc.</span>: Extra Payment
                      <span class="black-font">Charge Date</span>: 11/1/2014
                      <span class="black-font">Price</span>: $543
                      <span class="black-font">Orig. Price</span>: $500
                      <span class="black-font">Card</span>: Visa x-1234
                      <span class="black-font">Processed</span>: true
                      <span class="black-font">Disable</span>: true
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="btns_container">
              <button class="btn" ng-click="editCharges1 = !editCharges1" ng-hide="editCharges1">Edit</button>
              <button class="btn btn-gray" ng-click="expandSection1 = !expandSection1" ng-hide="editCharges1">Close</button>
              <button class="btn" ng-show="editCharges1" ng-click="editCharges1 = !editCharges1">Save</button>
              <button class="btn btn-gray" ng-show="editCharges1" ng-click="editCharges1 = !editCharges1">Cancel</button>
              <button class="btn btn-blue" ng-click="expandLog1 = !expandLog1">{{expandLog1 ? 'Close Log' : 'View Log'}}</button>
            </div>
          </div>
        </div>
      </td>
    </tr>

    </tbody>



</table>
</div>