<div class="materialize-styles1">
    <div class="title_blue">Search for Orders V3</div>
    <form name="submitForm" ng-submit="search()" novalidate>
        <div class="row">
            <div class="input-field col l6 m6 s12">
                <input ng-model="searchCriteria" name="searchFied" id="searchField" type="text" ng-class="submitForm.$submitted && submitForm.searchFied.$invalid	 ? 'invalid ng-not-empty' : ''"
                    ng-required="true">
                <label ng-class="submitForm.$submitted	 ? 'active' : ''" data-error="Field is required" for="searchField">Order number, email, beneficiary ...</label>
            </div>
            <div class="col l1 m6 s12">

                <button class="btn waves-effect waves-light" type="submit" id="submit" ng-bind-html="loading ? loader : 'Search'" ng-click="submited = true"></button>
            </div>
            <div class=" col l5 m6 s12">
                <div class="filter" ng-if="false">
                    <div class="switch">
                        <label>
                            with filter 1
                            <input type="checkbox">
                            <span class="lever"></span>
                            option 2
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>

   <div class="progress" ng-show="loading">
    <div class="indeterminate"></div>
</div>

    <div class="title_blue" ng-show="searchResult.length > 0">Search Results</div>

    <div class="tables_container" ng-show="searchResult.length > 0">
        <table class="orders_table md-table">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>User</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Company</th>
                <th>Product</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="order in searchResult">
            <tr ng-click="selectOrder(order)"
                ng-class="expandSection === order._id ? 'order_row active' : 'order_row'" >
                <td>{{order.orderId}}</td>
                <td>{{order.paymentsPlan[0].userInfo.userName}}</td>
                <td>{{order.paymentsPlan[0].email}}</td>
                <td>{{order.createAt | date}}</td>
                <td>{{order.paymentsPlan[0].productInfo.organizationName}}</td>
                <td>{{order.paymentsPlan[0].productInfo.productName}}</td>
                <td class="green-font">{{order.status}}</td>
            </tr>

            <tr class="expandable">
                <td class="expand" colspan="7">
                    <div ng-class="expandSection === order._id ? 'expandable_section active' : 'expandable_section'">
                        <div class="expanded_section" >

                            <table class="charges_table" >
                                <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Charge Date</th>
                                    <th>Charge Price</th>
                                    <th>Card</th>
                                    <th class="centered">Status</th>
                                    <th class="centered">Processed</th>
                                    <th class="centered">Disabled</th>
                                    <th ng-show="editCharges === order._id" class="centered">Option</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pp in order.paymentsPlan" ng-if="editCharges !== order._id">
                                    <td>
                                        <span>{{pp.description}}</span>
                                    </td>
                                    <td>
                                        <span>{{pp.dateCharge | date}}</span>
                                    </td>
                                    <td>{{pp.price}}</td>
                                    <td>
                                        <span>{{pp.accountBrand}} x-{{pp.last4}}</span>
                                    </td>
                                    <td class="centered green-font">{{pp.status}}</td>
                                    <td class="centered">
                                        <input id="rproc-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.wasProcessed" />
                                       <label for="rproc-{{pp._id}}"></label>
                                    </td>
                                    <td class="centered">
                                        <input id="rdis-{{pp._id}}" ng-disabled="true" type="checkbox" ng-change="" ng-model="pp.status" ng-true-value="'disable'" ng-false-value="'pending'">
                                        <label for="rdis-{{pp._id}}"></label>
                                    </td>
                                    
                                </tr>
                                <tr ng-repeat="pp in order.paymentsPlan" ng-if="editCharges === order._id">
                                    <td>
                                            <md-input-container>
                                                <input type="text" ng-model="pp.description"/>
                                            </md-input-container>

                                    </td>
                                    <td>
                                            <input input-date
                                                   id="datePicker{{pp._id}}"
                                                   type="text"
                                                   name="created"
                                                   ng-model="pp.dateCharge"
                                                   container=""
                                                   format="mm/dd/yyyy"
                                                   disable="disable"
                                                   select-years="15"
                                                   on-set="closeDatePicker('datePicker'+pp._id)"
                                            />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="pp.price"/>
                                    </td>
                                    <td>
                                            <select material-select watch  ng-model="pp.account">
                                                <option ng-repeat="account in accountsFilter[pp._id]"  value="{{account.id}}">{{account.bankName || account.brand}} x-{{account.last4}}</option>
                                            </select>
                                    </td>
                                    <td class="centered green-font">{{pp.status}}</td>
                                    <td class="centered">
                                        <input id="proc-{{pp._id}}" ng-show="pp.status!=='succeeded'"  ng-disabled="editCharges !== order._id || pp.status==='disable' || !pp.wasProcessed" type="checkbox" ng-change="" ng-model="pp.wasProcessed" />
                                       <label for="proc-{{pp._id}}"></label>
                                    </td>
                                    <td class="centered">
                                        <input id="dis-{{pp._id}}" ng-show="pp.status!=='succeeded'" ng-disabled="editCharges !== order._id" type="checkbox" ng-change="" ng-model="pp.status" ng-true-value="'disable'" ng-false-value="'pending'">
                                        <label for="dis-{{pp._id}}"></label>
                                    </td>
                                    <td class="centered">
                                        <a class="btn-floating btn-large waves-effect waves-light" href="#" ng-click="editPaymentPlan(order._id, pp)">
                                        <i class="small mdi mdi-content-save"></i>
                                        </a>
                                    </td>
                                </tr>

                                <!-- new payment plan -->

                                <tr ng-if="editCharges === order._id">
                                    <td>
                                            <md-input-container>
                                                <input type="text" ng-model="newPaymentPlan.description"/>
                                            </md-input-container>
                                    </td>
                                    <td>
                                            <input input-date 
                                                   id="datePicker{{pp._id}}"
                                                   type="text"
                                                   name="created"
                                                   ng-model="newPaymentPlan.dateCharge"
                                                   container=""
                                                   format="mm/dd/yyyy"
                                                   disable="disable"
                                                   select-years="15"
                                                   on-set="closeDatePicker('datePicker'+pp._id)"
                                            />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="newPaymentPlan.price"/>
                                    </td>
                                    <td>
                                            <select material-select watch  ng-model="newPaymentPlan.account">
                                                <option ng-repeat="account in accountsFilter[order.paymentsPlan[0]._id]"  value="{{account.id}}">{{account.bankName || account.brand}} x-{{account.last4}}</option>
                                            </select>
                                    </td>
                                    <td class="centered green-font">{{pp.status}}</td>
                                    <td class="centered">
                                        
                                    </td>
                                    <td class="centered">
                                        
                                    </td>
                                    <td class="centered">
                                        <a class="btn-floating btn-large waves-effect waves-light"  href="#" ng-click="addPaymentplan(order, order.paymentsPlan[0])">
                                        <i class="small mdi mdi-plus"></i>
                                        </a>
                                    </td>
                                </tr>

                                <!-- end new payment plan -->


                                </tbody>
                            </table>

                            

                             <div class="progress" ng-show="loadingOrder === order._id">
                                <div class="indeterminate"></div>
                            </div>
                            
                            

                            <div class="btns_container" ng-if="loadingOrder !== order._id && editCharges !== order._id">
                                <button class="btn waves-effect waves-light" ng-show="order.status !== 'complete'" ng-click="changeToEdit(order._id)">Edit</button>
                <a class='btn btn-blue waves-effect waves-light' href='#demoModal' modal>View Log</a>
            </div>

            <div class="btns_container" ng-if="loadingOrder !== order._id && editCharges === order._id">
                <button class="btn btn-gray waves-effect waves-light" ng-click="changeToEdit('')">Cancel</button>
                <a class='btn btn-blue waves-effect waves-light' href='#demoModal' modal>View Log</a>
            </div>

<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h5>History Order {{order.orderId}}</h5>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

        </div>
        </td>
        </tr>

        </tbody>


        </table>
</div>
</div>