<div class="title-blue">Search for Orders V3</div>
<div class="inputs">
  <div class="input">
    <input type="text" placeholder="Order number, email, beneficiary ..." />    
  </div>
  <div class="btns">
    <div class="btn-green">Search</div>
  </div>
  <div class="right">
    <div class="switch">
      <label>
        with filter 1
        <input type="checkbox">
        <span class="lever"></span>
        option 2
      </label>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="title-blue">Search Results</div>

