<header ng-controller="MenuCtrl">
  <div class="container">
    <div class="left">
      <img src="img/PaidUpLogoPrimary.svg" alt="logo" />
      <ul class="navigation_items">
        <li>
          Orders
        </li>
        <li ui-sref="orders" class="active">
          Orders V3
        </li>
        <li ui-sref="reportRevenueProjection">
          Projection
        </li>
      </ul>
    </div> 
    <div class="right">
      <ul class="navigation_items">
        <li>
          <i class="fa fa-user"></i>
          <div class="label">{{user.firstName}}</div>
        </li>
        <li ng-click="logout()">
          <i class="fa fa-power-off"></i>
          <div class="label">Sign out</div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</header>